$modal-header-bg: #198ae3;

.modal-base {
    .ant-modal-header {
        padding: 10px 12px;
        background-color: $modal-header-bg;
        .ant-modal-title {
            color: #fff;
        }
    }

    .ant-modal-body {
        padding: 12px 24px;
    }

    .ant-modal-close-x {
        width: 43px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}
