.report-all-driver {
	.status-res {
		// display: contents;
		.success {
			font-weight: 700;
			border: 1px solid #5cb85c;
			color: #5cb85c;
			padding: 3px 0px;
			border-radius: 5px;
			width: 80px;
			text-align: center;
			line-height: 16px;
			display: block;
		}

		.danger {
			font-weight: 700;
			border: 1px solid #d9534f;
			color: #d9534f;
			padding: 3px 0px;
			border-radius: 5px;
			width: 80px;
			text-align: center;
			line-height: 16px;
			display: block;
		}

		.info {
			font-weight: 700;
			border: 1px solid #337ab7;
			color: #337ab7;
			padding: 3px 0px;
			border-radius: 5px;
			width: 80px;
			text-align: center;
			line-height: 16px;
			display: block;
		}

		.warning {
			font-weight: 700;
			border: 1px solid #ffc107;
			color: #ffc107;
			padding: 3px 0px;
			border-radius: 5px;
			width: 80px;
			text-align: center;
			line-height: 16px;
			display: block;
		}

		.waiting {
			font-weight: 700;
			border: 1px solid #6c757d;
			color: #6c757d;
			padding: 3px 0px;
			border-radius: 5px;
			width: 80px;
			text-align: center;
			line-height: 16px;
			display: block;
		}
	}

	.id-grid-action-row-wrap {
		flex-direction: column;
		justify-content: space-evenly !important;
	}
}
